[tool.uv.workspace]
members = [
    "agent",
    "fusion",
    "benchmark",
    "packages/core",
    "packages/agent-sdk",
    "packages/common",
    "packages/event-model",
    "packages/fusion-sdk",
    "packages/pusher-echo",
    "packages/pusher-openapi",
    "packages/pusher-fusion",
    "packages/source-elasticsearch",
    "packages/source-fs",
    "packages/source-mysql",
    "packages/source-oss",
    "packages/web-ui",
    "packages/demo",
    "packages/view-fs"
]

[tool.uv.sources]
fustor-agent = { workspace = true }
fustor-fusion = { workspace = true }
fustor-core = { workspace = true }
fustor-agent-sdk = { workspace = true }
fustor-common = { workspace = true }
fustor-event-model = { workspace = true }
fustor-fusion-sdk = { workspace = true }
fustor-pusher-echo = { workspace = true }
fustor-pusher-openapi = { workspace = true }
fustor-pusher-fusion = { workspace = true }
fustor-source-elasticsearch = { workspace = true }
fustor-source-fs = { workspace = true }
fustor-source-mysql = { workspace = true }
fustor-source-oss = { workspace = true }
fustor-web-ui = { workspace = true }
fustor-demo = { workspace = true }
fustor-view-fs = { workspace = true }

[tool.pytest.ini_options]
pythonpath = [
    "agent/src",
    "fusion/src",
    "packages/core/src",
    "packages/pusher-echo/src",
    "packages/pusher-openapi/src",
    "packages/pusher-fusion/src",
    "packages/source-elasticsearch/src",
    "packages/source-fs/src",
    "packages/source-mysql/src",
    "packages/source-oss/src",
    "packages/web-ui/src",
    "packages/demo/src",
    "packages/view-fs/src"
]
testpaths = [
    "agent/tests",
    "fusion/tests",
    "packages/*/tests",
    "packages/source_oss/tests"
]
addopts = "-v --tb=short"
asyncio_default_fixture_loop_scope = "function"
norecursedirs = ["it"]
filterwarnings = [
    "ignore:pythonjsonlogger.jsonlogger:DeprecationWarning",
    "ignore:'crypt' is deprecated and slated for removal:DeprecationWarning:passlib.utils",
]

[dependency-groups]
dev = [
    "freezegun>=1.5.5",
    "moto[s3]>=5.1.18",
    "passlib[bcrypt]>=1.7.4",
    "pytest>=8.4.2",
    "pytest-asyncio>=1.2.0",
    "pytest-mock>=3.15.1",
    "python-jose[cryptography]>=3.5.0",
]
