[tool.uv.workspace]
members = [
    "agent",
    "fusion",
    "registry",
    "packages/core",
    "packages/pusher_echo",
    "packages/pusher_openapi",
    "packages/source_elasticsearch",
    "packages/source_fs",
    "packages/source_mysql",
    "packages/web_ui"
]

[tool.uv.sources]
fustor-agent = { workspace = true }
fustor-fusion = { workspace = true }
fustor-registry = { workspace = true }
fustor-core = { workspace = true }
fustor-pusher-echo = { workspace = true }
fustor-pusher-openapi = { workspace = true }
fustor-source-elasticsearch = { workspace = true }
fustor-source-fs = { workspace = true }
fustor-source-mysql = { workspace = true }
fustor-web-ui = { workspace = true }

[tool.pytest.ini_options]
pythonpath = [
    "agent/src",
    "fusion/src",
    "registry/src",
    "packages/core/src",
    "packages/pusher_echo/src",
    "packages/pusher_openapi/src",
    "packages/source_elasticsearch/src",
    "packages/source_fs/src",
    "packages/source_mysql/src",
    "packages/web_ui/src"
]
testpaths = [
    "agent/tests",
    "fusion/tests",
    "registry/tests",
    "packages/*/tests"
]
addopts = "-v --tb=short"
asyncio_default_fixture_loop_scope = "function"
norecursedirs = ["tests"]
